
        html {
            scroll-behavior: smooth;
        }

        body {
            background: #000 !important;
            color: #f5f5f5;
            font-family: 'Poppins', sans-serif;
        }
